#infodiv{
	position: absolute;
	color: rgb(119, 119, 119);
	top: 0;
	border: 1px solid #DDD;
	width: 20%;
	height: 100%;
	right: -20%;
	padding: 0px;
	transition-duration: 0.5s;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:#FFF;
	z-index:1000;
	overflow:auto;
}
#infodiv.shown{
	right: 0%;
	padding: 20px;
	transition-duration: 0.5s;

}
#infomenu{
	position: absolute;
	top: 0px;
	left: 0px;
	min-height: 50px;
	width: 100%;
	background-color: #FFF;
	z-index:700;
	height:60px;
	overflow:auto;
}
.menu_container{
	text-align:center;
	display:inline-block;
	width:70px;
	box-shadow:0px 0px 1px 1px rgba(100,100,100,0.5);
	box-sizing:border-box;
	padding:5px;
	height:55px;
	font-size:8px;
	vertical-align: middle;
	margin:3px;
	cursor:pointer;
	background-color: #FFF;
}
.menu_container:hover{
	box-shadow:0px 0px 3px 1px rgba(100,100,100,0.5);
	background-color: #AAA;
	color:#FFF;
	
}
.menu_container:active{
	box-shadow:0px 0px 1px 0px rgba(100,100,100,0.5);
	background-color: #FEFEFE;
	color:#000;
	
}
.categ_use{
	box-shadow:0px 0px 1px 0px rgba(100,100,100,0.5);
	background-color: #DDD;
	color:#000;
}
.htag{
	cursor:pointer;
	color:#00F;
	text-decoration:underline;
}
